@use 'sass:map'; // 导入 map 模块

// :root font-size: 16px
$text-styles: (
  text-preset-1: (
    font-weight: 700 bold,
    // 36px
    font-size: 2.25rem,
    line-height: 120%,
    letter-spacing: 0,
  ),
  text-preset-2: (
    font-weight: 700 bold,
    // 20px
    font-size: 1.25rem,
    line-height: 120%,
    letter-spacing: 0,
  ),
  text-preset-3: (
    font-weight: 700 bold,
    font-size: 1rem,
    line-height: 150%,
    letter-spacing: 0,
  ),
  text-preset-4: (
    font-weight: 400 normal,
    // 14px
    font-size: 0.875rem,
    line-height: 150%,
    letter-spacing: 0,
  ),
  text-preset-4-bold: (
    font-weight: 700 bold,
    // 14px
    font-size: 0.875rem,
    line-height: 150%,
    letter-spacing: 0,
  ),
  text-preset-5: (
    font-weight: 400 normal,
    // 12px
    font-size: 0.75rem,
    line-height: 150%,
    letter-spacing: 0,
  ),
  text-preset-5-bold: (
    font-weight: 700 bold,
    // 12px
    font-size: 0.75rem,
    line-height: 150%,
    letter-spacing: 0,
  ),
);

@mixin text-styles($name) {
  $style: map.get($text-styles, $name);
  font-weight: map.get($style, font-weight);
  font-size: map.get($style, font-size);
  line-height: map.get($style, line-height);
  letter-spacing: map.get($style, letter-spacing);
}
